@model MvcApplication.MyNorthwindCustomerService.Customers

@{
    ViewBag.Title = "Customer Details";
}

<h2>@Model.ContactName</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
